In [28]:
from tradier import *
import copy

In [2]:
help(OptionsOrder)

Help on class OptionsOrder in module tradier:

class OptionsOrder(Tradier)
 |  OptionsOrder(account_number, auth_token)
 |
 |  Method resolution order:
 |      OptionsOrder
 |      Tradier
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, account_number, auth_token)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  bear_call_spread(self, underlying, option0, quantity0, option1, quantity1, duration='day')
 |      Bear call spread example:
 |              • XYZ @ $50/share
 |              • Pr(XYZ < $55/share) > .50
 |              • Legs
 |                      • Short Call with K1 ≥ S (e.g. K1=55 > S=50) and receive $3 premium
 |                      • Long Call with K2 > K1 ≥ S (e.g. K2=60 > K1=55 ≥ S=50) and pay $1 premium
 |              • Expiry t=T
 |                      • If S(T) < K1 -> payoff = premium differential
 |                      • If K1 < S(T) < K2
 |                              • short call exercised and must sell at K1 = $55
 |                              • long call expires OTM
 |                              • payoff = (K1-K2) + (premium differential) < 0
 |                      • If S(T) > K2 > K1
 |                              • short call exercised and must sell at K1 = $55
 |                              • long call exercised and can buy XYZ at K2 = $60
 |                              • payoff = (K1-K2) + (premium differential) < 0
 |
 |  bear_put_spread(self, underlying, option0, quantity0, option1, quantity1, duration='day')
 |      Parameters
 |              underlying: asset symbol (e.g. 'SPY')
 |              option0: OCC symbol of
 |
 |  bull_call_spread(self, underlying_symbol, option_symbol_0, quantity_0, option_symbol_1, quantity_1, duration='day')
 |
 |  bull_put_spread(self, underlying_symbol, option_symbol_0, quantity_0, option_symbol_1, quantity_1, duration='day')
 |
 |  extract_occ_underlying(self, occ_symbol)
 |      # def extract_stock_symbol (self, occ_symbol):
 |
 |  options_order(self, occ_symbol, order_type, side, quantity, underlying=False, limit_price=False, stop_price=False, duration='day')
 |      Params:
 |              • occ_symbol = options contract (e.g. 'TER230915C00110000')
 |              • order_type = The type of order to be placed. One of: market, limit, stop, stop_limit
 |              • side = The side of the order. One of: buy_to_open, buy_to_close, sell_to_open, sell_to_close
 |              • quantity = Number of contracts to buy/sell
 |              • underlying = Underlying symbol. If not supplied, will be inferred from occ_symbol. (e.g. 'TER')
 |              • duration = Time the order will remain active. One of: day, gtc, pre, post
 |              • limit_price = Limit Price for limit or stop_limit orders
 |              • stop_price = Stop Price for stop or stop_limit orders
 |
 |      Returns:
 |              • json from the requests.post call to the order endpoint
 |
 |      Notes:
 |              • If order_type='limit' or order_type = 'stop_limit', then must specify limit_price
 |              • If order_type='stop' or order_type = 'stop_limit', then must specify stop_price
 |
 |      Example:
 |              >>> options_order.options_order(occ_symbol='LMT240119C00260000', order_type='market', side='sell_to_close', quantity=10.0)
 |              # Returns: {'order': {'id': 8042606, 'status': 'ok', 'partner_id': '3a8bbee1-5184-4ffe-8a0c-294fbad1aee9'}}
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Tradier:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [4]:
help(EquityOrder)

Help on class EquityOrder in module tradier:

class EquityOrder(Tradier)
 |  EquityOrder(account_number, auth_token)
 |
 |  Method resolution order:
 |      EquityOrder
 |      Tradier
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, account_number, auth_token)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  order(self, symbol, side, quantity, order_type, duration='day', limit_price=False, stop_price=False)
 |      Example of how to run:
 |              >>> eo = EquityOrder(ACCOUNT_NUMBER, AUTH_TOKEN)
 |              >>> eo.order(symbol='QQQ', side='buy', quantity=10, order_type='market', duration='gtc');
 |              {'order': {'id': 8256590, 'status': 'ok', 'partner_id': '3a8bbee1-5184-4ffe-8a0c-294fbad1aee9'}}
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Tradier:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [3]:
dir()

['ACCOUNT_NUMBER',
 'AUTH_TOKEN',
 'Account',
 'EquityOrder',
 'In',
 'OptionsData',
 'OptionsOrder',
 'Out',
 'Quotes',
 'Tradier',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__session__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'account',
 'datetime',
 'dotenv',
 'exit',
 'get_ipython',
 'np',
 'open',
 'options',
 'options_order',
 'os',
 'pd',
 'quit',
 'quotes',
 're',
 'requests',
 'schedule',
 'time',
 'timedelta']

In [4]:
eo = EquityOrder(ACCOUNT_NUMBER, AUTH_TOKEN)
eo.order(symbol='QQQ', side='buy', quantity=10, order_type='market', duration='gtc')

{'order': {'id': 8355788,
  'status': 'ok',
  'partner_id': '3a8bbee1-5184-4ffe-8a0c-294fbad1aee9'}}

In [5]:
account.get_orders()

,id,type,symbol,side,quantity,status,duration,avg_fill_price,exec_quantity,last_fill_price,last_fill_quantity,remaining_quantity,create_date,transaction_date,class
0,8355788,market,QQQ,buy,10.0,pending,gtc,0.0,0.0,0.0,0.0,10.0,2023-10-01T18:23:45.094Z,2023-10-01T18:23:45.165Z,equity

In [8]:
help(quotes)

Help on Quotes in module tradier object:

class Quotes(Tradier)
 |  Quotes(account_number, auth_token)
 |
 |  Method resolution order:
 |      Quotes
 |      Tradier
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, account_number, auth_token)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  get_historical_quotes(self, symbol, interval='daily', start_date=False, end_date=False)
 |      Fetch historical stock data for a given symbol from the Tradier Account API.
 |
 |      This function makes a GET request to the Tradier Account API to retrieve historical stock
 |      data for a specified symbol within a specified time interval.
 |
 |      Args:
 |              symbol (str): The trading symbol of the stock (e.g., 'AAPL', 'MSFT') for which you want
 |                            to retrieve historical data.
 |              interval (str, optional): The time interval for historical data. Default is 'daily'.
 |              start_date (str, optional): The start date for historical data in the format 'YYYY-MM-DD'.
 |                                         If not provided, the function will default to the most recent Monday.
 |              end_date (str, optional): The end date for historical data in the format 'YYYY-MM-DD'.
 |                                       If not provided, the function will default to the current date.
 |
 |      Returns:
 |              pandas.DataFrame: A DataFrame containing historical stock data for the specified symbol.
 |
 |      Example:
 |              # Create a Quotes instance
 |              q = Quotes(ACCOUNT_NUMBER, AUTH_TOKEN)
 |
 |              # Retrieve historical stock data for symbol 'BIIB'
 |              historical_data = q.get_historical_quotes(symbol='BIIB')
 |
 |              Sample Output:
 |                       date    open     high     low   close   volume
 |              0  2023-08-28  265.40  266.470  263.54  265.05   359872
 |              1  2023-08-29  265.35  268.150  265.11  268.00   524972
 |              2  2023-08-30  268.84  269.460  265.25  267.18   552728
 |              3  2023-08-31  266.83  269.175  265.32  267.36  1012842
 |              4  2023-09-01  269.01  269.720  266.91  267.17   522401
 |
 |  get_quote_day(self, symbol, last_price=False)
 |      Fetch the current quote data for a given symbol from the Tradier Account API.
 |
 |      This function makes a GET request to the Tradier Account API to retrieve the current quote
 |      data for a specified symbol.
 |
 |      Args:
 |              symbol (str): The trading symbol of the stock (e.g., 'AAPL', 'MSFT') for which you want
 |                            to retrieve the current quote data.
 |              last_price (bool, optional): If True, only fetch the last price of the symbol. Default is False.
 |
 |      Returns:
 |              pandas.DataFrame or float: A DataFrame containing the current quote data for the specified symbol
 |                                                                 or just the last price as a float if last_price is set to True.
 |
 |      Example:
 |              # Retrieve current quote data for symbol 'CCL' and transpose the DataFrame for easy viewing
 |              quote_data = q.get_quote_day(symbol='CCL').T
 |
 |              Sample Output:
 |                                         0
 |              symbol                 CCL
 |              description  Carnival Corp
 |              exch                     N
 |              type                 stock
 |              last                 15.73
 |              change               -0.09
 |              volume            16767253
 |              open                 15.83
 |              high                 16.06
 |              low                  15.58
 |              close                15.73
 |              bid                   15.7
 |              ask                  15.73
 |              change_percentage    -0.57
 |              average_volume    39539044
 |              last_volume              0
 |              trade_date   1693609200001
 |              prevclose            15.82
 |              week_52_high         19.55
 |              week_52_low           6.11
 |              bidsize                 11
 |              bidexch                  P
 |              bid_date     1693612800000
 |              asksize                 29
 |              askexch                  P
 |              ask_date     1693612764000
 |              root_symbols           CCL
 |
 |              # Retrieve only the last price for symbol 'CCL'
 |              last_price = q.get_quote_day(symbol='CCL', last_price=True)
 |              Sample Output: 15.73
 |
 |  get_timesales(self, symbol, interval='1min', start_time=False, end_time=False)
 |      This function returns the tick data for `symbol` in increments specified by `interval`.
 |      Eventually, we can use this to analyze/visualze stock data in a time series context.
 |
 |      Arguments `start_time` and `end_time` must be strings with format 'YYYY-MM-DD HH:MM'
 |
 |      Sample output:
 |              >>> quotes.get_timesales('VZ', start_time='2023-09-27 09:45', end_time='2023-09-27 14:00')
 |                                  time   timestamp     price     open     high      low   close  volume       vwap
 |              0    2023-09-27T09:45:00  1695822300  32.92995  32.9500  32.9500  32.9099  32.915   39077  32.924828
 |              1    2023-09-27T09:46:00  1695822360  32.89560  32.9112  32.9112  32.8800  32.895   32867  32.891113
 |              2    2023-09-27T09:47:00  1695822420  32.88750  32.8950  32.9100  32.8650  32.910   75720  32.888736
 |              3    2023-09-27T09:48:00  1695822480  32.91750  32.9100  32.9250  32.9100  32.910   15126  32.913109
 |              4    2023-09-27T09:49:00  1695822540  32.91000  32.9100  32.9200  32.9000  32.920   20335  32.907385
 |              ..                   ...         ...       ...      ...      ...      ...     ...     ...        ...
 |              251  2023-09-27T13:56:00  1695837360  32.35425  32.3450  32.3655  32.3430  32.360   58256  32.354522
 |              252  2023-09-27T13:57:00  1695837420  32.35500  32.3500  32.3600  32.3500  32.360   15825  32.355307
 |              253  2023-09-27T13:58:00  1695837480  32.36125  32.3599  32.3700  32.3525  32.365   34624  32.362786
 |              254  2023-09-27T13:59:00  1695837540  32.37500  32.3700  32.3900  32.3600  32.390   27728  32.370699
 |              255  2023-09-27T14:00:00  1695837600  32.38750  32.3866  32.3950  32.3800  32.385   53837  32.386281
 |
 |              (vwap = volume weighted average price during the interval)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Tradier:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/datasets/s-and-p-500-companies/main/data/constituents.csv')
df.head()

sym_list = []

#for l in df:
#    sym_list.append(l[0])

In [17]:
df['Symbol']

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
498     YUM
499    ZBRA
500     ZBH
501    ZION
502     ZTS
Name: Symbol, Length: 503, dtype: object

In [26]:
df2 = quotes.get_historical_quotes('CF', interval = 'monthly', start_date = "2022-10-01")
df2

          date    open     high      low   close    volume
0   2022-10-01  101.04  110.590  97.2200  106.26  51537870
1   2022-11-01  108.00  112.440  95.4356  108.19  59697249
2   2022-12-01  108.60  108.870  84.4700   85.20  48329504
3   2023-01-01   84.69   88.080  80.3200   84.70  59981654
4   2023-02-01   84.01   91.230  81.1000   85.89  55812424
5   2023-03-01   85.79   87.430  67.9500   72.49  68887921
6   2023-04-01   73.75   78.660  68.6700   71.58  44048312
7   2023-05-01   71.80   76.170  60.4400   61.51  64917053
8   2023-06-01   62.00   73.510  60.0800   69.42  57904747
9   2023-07-01   69.35   82.605  67.9700   82.08  45052460
10  2023-08-01   82.09   84.300  72.4000   77.07  46186615
11  2023-09-01   78.00   87.900  78.0000   85.74  48095746

In [29]:
tap = copy.deepcopy(df2)
tap

          date    open     high      low   close    volume
0   2022-10-01  101.04  110.590  97.2200  106.26  51537870
1   2022-11-01  108.00  112.440  95.4356  108.19  59697249
2   2022-12-01  108.60  108.870  84.4700   85.20  48329504
3   2023-01-01   84.69   88.080  80.3200   84.70  59981654
4   2023-02-01   84.01   91.230  81.1000   85.89  55812424
5   2023-03-01   85.79   87.430  67.9500   72.49  68887921
6   2023-04-01   73.75   78.660  68.6700   71.58  44048312
7   2023-05-01   71.80   76.170  60.4400   61.51  64917053
8   2023-06-01   62.00   73.510  60.0800   69.42  57904747
9   2023-07-01   69.35   82.605  67.9700   82.08  45052460
10  2023-08-01   82.09   84.300  72.4000   77.07  46186615
11  2023-09-01   78.00   87.900  78.0000   85.74  48095746

In [30]:
tap['profitable'] = ((tap['close']-tap['open'])>0).astype(int)
tap['vol_change'] = tap['volume'].diff()
tap

,date,open,high,low,close,volume,profitable,vol_change
0,2022-10-01,101.04,110.590,97.2200,106.26,51537870,1,NaN
1,2022-11-01,108.00,112.440,95.4356,108.19,59697249,1,8159379.0
2,2022-12-01,108.60,108.870,84.4700,85.20,48329504,0,-11367745.0
3,2023-01-01,84.69,88.080,80.3200,84.70,59981654,1,11652150.0
4,2023-02-01,84.01,91.230,81.1000,85.89,55812424,1,-4169230.0
5,2023-03-01,85.79,87.430,67.9500,72.49,68887921,0,13075497.0
6,2023-04-01,73.75,78.660,68.6700,71.58,44048312,0,-24839609.0
7,2023-05-01,71.80,76.170,60.4400,61.51,64917053,0,20868741.0
8,2023-06-01,62.00,73.510,60.0800,69.42,57904747,1,-7012306.0
9,2023-07-01,69.35,82.605,67.9700,82.08,45052460,1,-12852287.0
10,2023-08-01,82.09,84.300,72.4000,77.07,46186615,0,1134155.0
11,2023-09-01,78.00,87.900,78.0000,85.74,48095746,1,1909131.0

In [35]:
tap['volume'].diff()[1]

8159379.0